body {
    margin:0;

    font-size: 18px;
    color: #333;

    width: 100%;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* Header */
.header{
    width: 100%;

    background: url("../images/free_psd_01.png");
}

.header__inner{
    width: 100%;

    margin: 0 auto;
}

.header__logo{
    width: 100%;
    max-width: 135px;
    height: 135px;

    text-align: center;
    margin: 0 auto;
    
}

.header__info_logo{
    color: white;
    font-size: 80px;
    text-transform: uppercase;

    text-align: center;
    margin-top: 185px;
}

.header__info_text{
    font-size: 18px;
    color: white;

    text-align: center;
    margin-top: 50px;
}

.button__down{
    display: flex;
    justify-content: center;
}

i {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 50px;
    margin-top: 190px;

    color: white;
}

.down {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    
    padding: 5px;
    margin-bottom: 40%;
    margin-left: 32%;
    margin-top: auto;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Content */
.content{
    width: 100%;
    height: 100%;

    background: url('../images/Фон.png');
    z-index: -1;

    margin: 0 auto;
}

/* About */
.about{
    width: 100%;
    
}

.about__text{
    width: 100%;
    max-width: 845px;
    font-size: 30px;

    text-align: center;
    margin-top: 125px;
    margin-right: auto;
    margin-left: auto;
}

.about__text_2{
    width: 100%;
    max-width: 845px;
    font-size: 30px;

    text-align: center;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

/* What */
.what{
    width: 100%;
}

.what__logo{
    margin-top: 115px;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
}

.what__info{
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.what__blocks{
    width: 100%;
    max-width: 290px;
    height: 100%;
    max-height: 250px;
    text-transform: uppercase;
    margin: 0 10px;

    color: #464b4f;
    font-family: 'Noto Sans JP', sans-serif;
}

.blocks__text{
    font-size: 13px;
    text-align: left;

    
    color: #888a8b;
    font-family: 'Dosis', sans-serif;
}


/* Work */
.work{
    width: 100%;
    background: url("../images/free_psd_01.png");
    
}

.work__logo{
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    margin-top: 100px;

    display: flex;
    justify-content: center;
}

.work_info{
    display: grid;
    justify-content: center;

    margin-top: 60px;
}

.work__panel{
    width: 100%;
}

.panel{
    width: 100%;
    max-width: 900px;
    margin-bottom: 60px;

    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
}

.panel_link{
    color: white;
    text-decoration: none;
}

.all_works{
    width: 100%;
    max-width: 950px;

    margin-right: 40px;
}

.web__design{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.web__content{
    width: 300px;
    height: 300px;
    background-color: #7b77c9;
}

.content__name{
    display: flex;
    justify-content: space-around;

    margin-top: 15px;
}

.content__name a{
    text-decoration: none;
    color: white;
}

.content__category{
    display: flex;
    justify-content: space-around;
    color: #4f5468;

    margin-top: 10px;
    font-size: 14px;
}

.icon__design{
    width: 66.7%;
    display: flex;
    justify-content: space-around;
    float: left;

    margin-top: 40px;
}

.icon__content{
    width: 300px;
    height: 300px;
    background-color: #7b77c9;
}

.landing__page{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.landing__content{
    width: 300px;
    height: 300px;
    background-color: #7b77c9;
}

.see_my_work{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 85px;
}

.see_my_work a{
    color: white;
    font-size: 18px;
    text-decoration: none;

    height: 60px;

    background-color: #7b77c9;
    border-radius: 5px;

    padding: 0 75px;

    margin-top: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Photography */

.photography{
    background: url('../images/Фон.png');
    width: 100%;

}

.photography__header{
    display: grid;
    justify-content: center;
    align-items: center;
}

.photography__logo{
    width: 100%;

    text-transform: uppercase;
    font-size: 80px;

    margin-top: 130px;
    margin-bottom: 45px;
    text-align: center;
}

.photography__text{
    width: 100%;
    max-width: 750px;

    font-size: 30px;
    color: #888a8b;

    text-align: center;
}

.photography__cont{
    width: 100%;
    max-width: 950px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.photography__gallery{
    display: flex;
    justify-content: space-around;
}

.photo{
    width: 300px;
    height: 300px;
    background-color: #7b77c9;

    margin-top: 20px;
}

.see_my_photoblog{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 85px;
}

.see_my_photoblog a{
    color: white;
    font-size: 18px;
    text-decoration: none;

    height: 60px;

    background-color: #7b77c9;
    border-radius: 5px;

    padding: 0 75px;

    margin-top: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Email */
.email{
    width: 100%;

    max-height: 800px;

    background: url("../images/free_psd_01.png");


}

.email__header{
    width: 100%;
    display: flex;
    justify-content: center;

}

.infinity::before{
    content: '\221E';
    font-size: 100px;
    color: white;
}

.email__content{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color:white;
}

.email__form{
    width: 100%;
    text-align: center;
}

.form{
    width: 100%;
    max-width: 280px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}